<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />

    <link rel="stylesheet" href="/styles/style.css">
    <style>

    </style>
</head>

<body>
    <header>
        <a class="a" href="/searches/new">Add a New Book</a>
        <a class="a" href="/">Home</a>
    </header>
    <div id="myDIV">
        <form class="formUpdate" action="<%= `/update/${book.id}?_method=PUT`%>" method="POST">
            <!-- <label for="">POPULATED Image URL</label><br> -->
            <input id="inputText1" type="text" name="image" placeholder="POPULATED Image URL" value="<%= book.image%>">
            <!-- <label for="">POPULATED TITLE</label><br> -->
            <input id="inputText1" type="text" name="title" placeholder="POPULATED POPULATED TITLE"
                value="<%= book.title %>">
            <!-- <label for="">POPULATED AUTHOR</label><br> -->
            <input id="inputText1" type="text" name="authors" placeholder="POPULATED AUTHOR"
                value="<%= book.authors %>">
            <!-- <label for="">POPULATED DESCRIPTION</label><br> -->
            <textarea id="inputText1" name="decr" placeholder="POPULATED DESCRIPTION" cols="30"
                rows="10"> <%= book.decr %></textarea>
            <!-- <label for="">POPULATED ISBN</label><br> -->
            <input id="inputText1" type="text" name="isbn" placeholder="POPULATED ISBN" value="<%= book.isbn %>">
            <!-- <label for="">CONTACT</label><br> -->
            <input id="inputText1" type="text" name="bookshelf" placeholder="CONTACT" value="<%= book.bookshelf %>"><br>
            <button id="Button" type="submit"> UPDATE BOOK </button>
        </form>
    </div>

    <ul>
        <li class="renderedList">
            <img src="<%= book.image %>">
            <h2>
                <%=book.title %>
            </h2>
            <h3>
                <%=book.authors%>
            </h3>
            <p>
                <%=book.decr%>
            </p>
            <h4>
                <%=book.isbn%>
            </h4>
            <p>
                <%=book.bookshelf%>
            </p>
            <h4>
                <%=book.isbn%>
            </h4>
            <p>
                <%=book.bookshelf%>
            </p>
            <br>
            <br>

            <p>
                Please Double Click On Update Button 😁
            </p>
            <button id="Button" onclick="myFunction()"> UPDATE BOOK</button>
            <form id="formDelete" action="<%=`/delete/${book.id}?_method=DELETE`%>" method="POST">
                <button id="Button" type="submit"> DELETE BOOK </button>
            </form>


        </li>


    </ul>






    <footer>
        <ul>
            <li> <i class="fas fa-circle"></i></li>
            <li> <i class="fas fa-circle"></i></li>
            <li> <i class="fas fa-circle"></i></li>
            <li> <i class="fas fa-circle"></i></li>
        </ul>
    </footer>
    <script>
        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
                x.style.display = "block";

            } else {
                x.style.display = "none";
            }
        }
    </script>
</body>

</html>